<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="main :: head (title=主页)">
</head>

<body>

<header th:include="main :: header">

</header>

<div class="container">
    <div class="row">
        <div class="col-xd-8">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="#">规则</a></li>
                <li class="active">添加规则集</li>
            </ol>
        </div>
    </div>

    <form class="form-horizontal" action="/spider/check" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-1"><label for="url" class="control-label">url</label></div>
            <div class="col-sm-5">
                <input id="url" name="url" type="text" placeholder="请输入规则的名称" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1"><label for="crawleType" class="control-label">类型</label></div>
            <div class="col-sm-2">
                <select id="crawleType" name="crawleType" class="form-control">
                    <option>
                        article
                    </option>
                    <option>
                        articleList
                    </option>
                    <option>
                        articleDynamicData
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <button href="javascript:;" type="submit" class="btn btn-primary btn-md btn-block">开始解析</button>
            </div>
            <div class="col-sm-3">
                <button type="reset" id="btnReset" class="btn btn-primary btn-md btn-block">重置</button>
            </div>
        </div>
            <pre th:text="${data}" style="min-height: 500px"></pre>

        <!--<fieldset>
            <legend>Action配置<span class="pull-right"><a type="button" class="btn btn-success btn-xs">添加ACTION</a></span></legend>
            <div class="form-group">
                <div class="col-sm-1"><label for="className" class="control-label">匹配正则</label></div>
                <div class="col-sm-5">
                    <select id="className" name="className" class="form-control">
                        <option>
                            com.ptb.uranus.spider.smart.action.DownloadAction
                        </option>
                        <option>
                            com.ptb.uranus.spider.smart.action.DomParseAction
                        </option>
                        <option>
                            com.ptb.uranus.spider.smart.action.DateFormatAction
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-1"><label for="attr" class="control-label">属性名</label></div>
                <div class="col-sm-5">
                    <input id="attr" name="attr" type="text" placeholder="属性值" class="form-control"/>
                </div>
            </div>
        </fieldset>-->
    </form>
</div>

<footer th:include="main :: footer">

</footer>


<script src="/js/spiderAdd.js"/>

</body>
</html>