<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="main :: head (title=主页)">
</head>

<body>
<header th:include="main :: header">

</header>

<div class="container">

    <form class="form-horizontal" action="/spider/updatenewssave" method="post" enctype="multipart/form-data">
    	 <div class="form-group">
            <div class="col-sm-10">
                <input id="id" name="id" type="hidden" th:value="${id}" class="form-control"/>
               <!--  <input type="hidden" id="id" name="id"  th:value="${id}" class="form-control">  -->
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"><label for="newsname" class="control-label">名称</label></div>
            <div class="col-sm-10">
                <input id="newsname" name="newsname" type="text" th:value="${newsname}" class="form-control"/>
               <!--  <input type="hidden" id="id" name="id"  th:value="${id}" class="form-control">  -->
            </div>
        </div>
         <div class="form-group">
            <div class="col-sm-2"><label for="newsurl" class="control-label">网址</label></div>
            <div class="col-sm-10">
                <input id="newsurl" name="newsurl" type="text" th:value="${newsurl}"  class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"><label for="period" class="control-label">时间</label></div>
            <div class="col-sm-10">
                <input id="period" name="period" type="text"  th:value="${period}"  class="form-control"/>
            </div>
        </div> 

        <div class="form-group" > 
            <div class="col-sm-4 col-sm-offset-1">
                <div class="form-group" style="text-align: center;">
                  <a href="javascript:;" onclick="newsUpdateCheck()"  class="btn btn-primary btn-lg btn-block ">修改</a>
                </div>
            </div>
        </div>
    </form>
</div>

<footer th:include="main :: footer">
</footer>
<script type="text/javascript">
	function newsUpdateCheck(){
		var newsurl=$("#newsurl").val();
		var re = /^http:[\/\/]/;//最简单的正则表达式,将匹配he这个单词  
		if(re.test(newsurl)){
			
		}else{
			alert("url格式不对请重新输入！！");
			return false;
		}
		var period = $("#period").val();
		var re2 =/[0-9]/;
		if(re2.test(period)){
		}else{
			alert("时间输入有误！只能输入数字!!");
			return false;
		}
		
		var data = $("form").serialize();
		$.ajax({
			url:'/spider/updatenewssave',
			data:data,
			dataType:'json',
			type:'post',
			success:function(data){
				if(data){
					alert("修改成功！！");
					window.location.href = "/spider/news"
				}
				
			}
		});
	}
</script>
</body>
</html>